Invoice Processing.json
{
  "name": "Invoice Processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1uhU9yyoRZ7fqOWp0TuREsSyLZs889Off",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1uhU9yyoRZ7fqOWp0TuREsSyLZs889Off"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -48
      ],
      "id": "cd11a28e-a6cd-4404-93cd-852255d59645",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z1CSfzxqjVzjlQQy",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        -48
      ],
      "id": "874fc91c-d413-4394-b6bc-0d37429c2a10",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z1CSfzxqjVzjlQQy",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        16,
        -48
      ],
      "id": "9741dbbd-c2e4-410f-82d2-be32edefe2ab",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "Name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "Email of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "Address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "type": "number",
              "description": "Phone of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "the total amount of the invice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "The date of the invoice sent",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "The date of the invoice is due"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        240,
        -48
      ],
      "id": "87501c35-f24e-4e2d-ab94-eb20e5e6b169",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        312,
        176
      ],
      "id": "8003a4af-58b3-49f1-b9fd-3dc4eb654aab",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OMcitt4GGOspZl1v",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ugtlqxvhXFg2nLcaPZDzVsQZsJRoPryazsZVUehqF_A",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ugtlqxvhXFg2nLcaPZDzVsQZsJRoPryazsZVUehqF_A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ugtlqxvhXFg2nLcaPZDzVsQZsJRoPryazsZVUehqF_A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        -48
      ],
      "id": "62a8d2ac-b633-4bc1-85e0-5d94195ef5f5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XZt6m8R62xwpZl7y",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "teasy179@gmail.com",
        "subject": "={{ $json.output.Subject }}",
        "emailType": "text",
        "message": "={{ $json.output.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1168,
        -48
      ],
      "id": "d6db91b4-f704-4132-be0b-f502870af750",
      "name": "Send a message",
      "webhookId": "ce6df04f-3733-4b39-99fb-618f6731289a",
      "credentials": {
        "gmailOAuth2": {
          "id": "H0jYe00D00MDYD8o",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Invoice number: {{ $json['Invoice Number'] }}\n\nClient name: {{ $json['Client Name'] }}\n\nClient email: {{ $json['Client Email'] }}\n\nTotal amount: {{ $json['Total Amount'] }}\n\nInvoice date: {{ $json['Invoice Date'] }}\n\nDue Date: {{ $json['Due Date'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Overview\nYou are an email expert KraftVen named mr.kr. You will recieve invoice information. Your job is to notify the internal biilling team that an invoice was recieved/sent.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        816,
        -48
      ],
      "id": "5b50a7c9-97e3-45b0-aee2-739e2b5247b0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Subject\": \"\",\n\t\"Email\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        952,
        176
      ],
      "id": "335f1b1c-6506-457d-af04-0fafc86b4f7b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        824,
        176
      ],
      "id": "0c243433-bf70-4188-ad56-518cd090d4df",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OMcitt4GGOspZl1v",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1392,
        -48
      ],
      "id": "bbd4dc5e-16b8-40b7-9570-481cd39b55f6",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dfbb094-a908-42d2-9c76-b558041537fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86c15a75ad93bc9a25b4721f973f63f74384617887df69b64dae9cb5778f9f97"
  },
  "id": "N5wYAsZiwEXQS8Xz",
  "tags": []
}